<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="University.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <University.Services.Properties.Settings>
            <setting name="University_Services_UniversityofSheffieldReference_SheffieldWebService"
                serializeAs="String">
                <value>http://webteach_net.hallam.shu.ac.uk/cmsmr2/SheffieldWebService.asmx</value>
            </setting>
            <setting name="University_Services_HallamUniversityReference_SHUWebService"
                serializeAs="String">
                <value>http://webteach_net.hallam.shu.ac.uk/cmsmr2/SHUWebService.asmx</value>
            </setting>
        </University.Services.Properties.Settings>
    </applicationSettings>
</configuration>