
@{
    ViewBag.Title = "CreateProfile";
}
<br>
<h3>Need to create new profile if you don't have any previous profile</h3>
<h4>
    @Html.ActionLink("Create New", "addProfiles", "ProfileManage")
</h4>
